/* Reset styles */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

pre,
code {
  font-size: inherit;
  font-weight: 400;
}

img,
address,
pre,
.map {
  margin-bottom: 1em;
  margin-top: 1em;
}

ul,
ol {
  padding-left: 0;
}

pre,
body,
html,
fieldset,
input {
  margin: 0;
  padding: 0;
}

address,
cite {
  font-style: normal;
}

a img,
img,
iframe,
fieldset {
  border: 0;
}

legend {
  color: inherit;
  padding: 0;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 1px;
}

select {
  padding: 0;
}

table {
  border-collapse: collapse;
}

[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
}

[type="search"] {
  -webkit-appearance: none;
  box-shadow: none;
}

[type="text"],
[type="email"],
[type="tel"],
[type="url"],
textarea {
  -webkit-appearance: none;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button {
  display: none;
}

button {
  background-image: none;
}

textarea {
  overflow-y: auto;
  resize: vertical;
}

img,
svg {
  height: auto;
  max-width: 100%;
  max-width: 100%;
}

::-moz-focus-inner {
  border: 0;
}

/* Base styles */

:root {
  --background-color: #000;
  --focus-ring-color: rgb(255, 234, 0) ;
}

:focus-visible {
  box-shadow: 0 0 0 3px var(--background-color), 0 0 0 6px var(--focus-ring-color);
  outline-color: transparent;
  outline-style: solid;
}

::selection {
  background: white;
  color: black;
}

main:focus {
  outline: none;
}

body {
  font-family: sans-serif;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  padding-left: 1em;
  padding-right: 1em;
}

h1, h2, h3, h4, h5, h6 {
max-width: 20em;
}

h1 {
  font-size:3.815rem;
}

h2 {
  font-size:3.052rem;
}

h3 {
  font-size:2.441rem;
}

h4 {
  font-size:1.953remrem;
}

p {
  line-height: 1.5;
  max-width: 40em;
}

.img-container {
  height: 3em;
  margin-bottom: 1em;
  width: 6em;
}

.img-container img {
  height: auto;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
}

.skip-to-content {
  background-color: yellow;
  color: black;
  display: inline;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content:focus {
  transform: translateY(0%);
}

main {
  margin-bottom: 2em;
}

  .footer {
  border-top: .25em solid teal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  align-items: center;
  border-bottom: .175em solid teal;
  display: flex;
  flex-wrap: wrap;
  font-size: 130%;
  justify-content: space-between;
}

.presenters {
  font-weight: 600;
  margin-bottom: .5em;
}

.highlight {
  background-color: #eee;
  border-left: 8px solid #0097a7;
  border-radius: .5em;
  margin-bottom: 1em;
  padding: 1em 1em 1em 2em;
}

h3 {
  margin-bottom: .5em;
  margin-top: .5em;
}

.highlight p:not(.presenters) {
  margin-bottom: 1em;
  margin-right: 2em;
}

.time {
  background-color: #23548F;
  border-radius: .5em;
  color: #eee;
  font-size: 1em;
  margin: 0em;
  max-width: max-content;
  padding: .25em .5em .1em .5em;
}

.add-link {
  border: 1px solid #0097a7;
  border-radius: 2em;
  display: inline-block;
  padding: .5em 1em;
}

.profile {
    background-color: #eee;
    border-left: 8px solid #23548F;
    border-radius: .5em;
    margin-bottom: 1em;
    padding: 1em 1em 1em 2em;
  }

.pfp {
  background-color: #3498db;
  border-radius: 25%;
  flex-shrink: 0;
  height: 7em;
  width: 7em;
}

.headline {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: flex-start;
}

.registration {
  background-color:#eee;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 30rem;
  padding: 1em;
  border-radius: .5em;
}

input {
  border: 2px solid #23548F;
  border-radius: .25rem;
  padding: .5rem;
}

input[type="radio"] {
  accent-color: #23548F;
  width: 1.25rem;
  height: 1.25rem;
}

.email-entry, .name-entry {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.hint {
  color: #5d5d5d;
}

button {
  background-color: #3498db;
  color: #000;
  border: 1px solid #3498db;
  box-shadow: 0 3px 0 #006394;
  padding: .5em;
  border-radius: 5px;
  overflow: visible;
  font-size: 100%;
  max-width: 7.5em;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:hover {
  background-color: #23548F;
  color: #eee;
  border: 1px solid #23548F;
    box-shadow: 0 3px 0 #0090d8;
}

#success-msg {
   background-color: #7cffac;
    border-left: 8px solid #086114;
    border-radius: .5em;
    margin-bottom: 1em;
    padding: 1em 1em 1em 2em;
}

.hidden {
  display: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset label {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .5rem;
}

fieldset legend {
  margin-bottom: .75rem;
}


@media (prefers-color-scheme: dark) {  
  .highlight, .profile, #register-form {
  background-color: #434343;
}

.hint {
  color: #eee;
}

.logo, img {
  filter: contrast(1) brightness(1) invert(1) saturate(0) hue-rotate(120deg);
}

input {
  border-color: #0097a7;
}

input[type="radio"] {
  accent-color: #0097a7;
}
   }
