<!DOCTYPE html>
<html xml:lang="en" lang="en">
{% include "head.html" %}

<body>
    <div class="wrapper">
        <a href="#main" tabindex="0" class="skip-to-content">Skip to main content</a>
        {% include "registerheader.html" %}
        <main id="main" tabindex="-1">
            <h1>{{ title }}</h1>
            {{ content | safe }}
            {% if cta %}
            {% include "call-to-action.html" %}
            {% endif %}
        </main>
        {% include "footer.html" %}
        <style>
            @media screen and (prefers-color-scheme: dark) {
                :where(a:link) {
                    color: #00e7ff;
                }

                :where(a:visited) {
                    color: #d0adf0;
                }
            }
        </style>
</body>

</html>